@model MidasTouch.Domain.Models.User

<div class="modal fade" id="LoginPartial" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                @using (Html.BeginForm("ConfirmUser", "User"))
                {
                    @Html.LabelFor(m => m.Identity.Email, "Enter Email")<br>
                    @Html.TextBoxFor(m => m.Identity.Email, new { @type = "email",required="required" })
                    <br>
                    @Html.LabelFor(m => m.Identity.Password, "Enter password")<br>
                    @Html.PasswordFor(m => m.Identity.Password, new { @required = "required" })
                    <br>

                    <button type="submit">
                        Enter
                    </button>
                }

            </div>
        </div>
    </div>
</div>


