@using Microsoft.AspNetCore.Http;
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HCA

<nav class="navbar sticky-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <div id="headlogo">
                <div class="rounded" id="logosibling"></div>
                <a asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="rounded pb-1" id="logo" alt="logo" height="100" width="175" src="https://imgur.com/uuk4AM1.jpg">
                </a>
            </div>
        </div>

        <div class="rounded d-inline-flex" id="NavBarLinks">
            <div class="mr-2">
                <a class="rounded-2 pr-2 pl-2" id="homenav" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
            </div>
            <div class="mr-2">
                <a class="rounded-2 pr-2 pl-2" id="quotenav" asp-area="" asp-controller="Stock" asp-action="Stock">Trade</a>
            </div>
            <div class="mr-2">
                <a class="rounded-2 pr-2 pl-2" id="chartnav" asp-area="" asp-controller="StockPrice" asp-action="StockChart">Charts</a>
            </div>
            @if (HCA.HttpContext.Session.GetInt32("userid") != null)
            {
                <div class="mr-2">
                    <a class="rounded-2 pr-2 pl-2" id="accountnav" asp-area="" asp-controller="User" asp-action="Account">Account</a>
                </div>
                <div class="mr-2">
                    <a class="rounded-2 pr-2 pl-2" id="loginnav" asp-area="" asp-controller="User" asp-action="Signout">Sign Out</a>
                </div>
            }
            else
            {
                <div class="mr-2">
                    <a class="rounded-2 pr-2 pl-2" id="loginnav" data-toggle="modal" data-target="#LoginPartial">Login</a>
                </div>
                <div class="mr-2">
                    <a class="rounded-2 pr-2 pl-2" id="loginnav" asp-area="" asp-controller="User" asp-action="Register">Register</a>
                </div>
            }


        </div>
    </div>
</nav>