@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">

    <h3 class="text-success mt-3">Welcome to MidasTouch!</h3>
    <h4 class="text-success">A new age trading platform to help you learn to trade and get that bread</h4>


</div>
