/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

html body *{
    font-family: Garamond;
}

.form-control{
    border-radius: 9px;
}


/*NAVBAR*/


.bg-img {
    /* The image used */
    background-image: url("https://i.imgur.com/UyEZV5B.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-stock {
    /* The image used */
    background-image: url("https://imgur.com/pYm8VWs.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-stockcharts {
    /* The image used */
    background-image: url("https://imgur.com/qAtBrv8.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}


#homenav, #quotenav, #chartnav, #accountnav, #loginnav {
    color: #ffffff;
    text-decoration: none;
    background-color: #ffbf00;
    font-size: 25px;
    opacity: .75;
    filter: alpha(opacity=50);
    border-radius: 10px;
}

#homenav:hover, #quotenav:hover, #chartnav:hover, #accountnav:hover, #loginnav:hover {
        color: #ffffff;
        text-decoration: none;
        background-color: #ffbf00;
        font-size: 25px;
        border-radius: 10px;
        opacity: 1.0;
        filter: alpha(opacity=100);
}

#headlogo{
    position: relative;
}

#logo{
    z-index: 999;
}
