/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */




/* Sticky footer styles
-------------------------------------------------- */


/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}


.footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: white;
    text-align: left;
}

html body *{
    font-size: 15px;
}

.form-control{
    border-radius: 9px;
}


/*NAVBAR*/


.bg-img {
    /* The image used */
    background-image: url("https://i.imgur.com/UyEZV5B.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-stock {
    /* The image used */
    background-image: url("https://imgur.com/pYm8VWs.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-stockcharts {
    /* The image used */
    background-image: url("https://imgur.com/qAtBrv8.jpg");
    min-height: 400px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}

.bg-img-else {
    /* The image used */
    background-image: url("https://imgur.com/siU6fnF.jpg");
    min-height: 300px;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* Needed to position the navbar */
    position: relative;
}


#headlogo{
    position: relative;
}

#logo{
    z-index: 999;
}

#newsurl{
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    border-color: gold;
}
#newsurl:hover{
    color: #ffbf00;
}

#newssummary{
    font-size: 17px;
    color: black;
   
}

.news {
    text-align: center;
    position: relative;
    font-size: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.pagelabel {
    font-size: 30px;
}

.navbar {
    border-bottom-width: 0px !important;
    margin-left: -3px;
    margin-right: -.25px;
}

