@if (@ViewBag.Symbol != null)
{

<div>
    <b>
        Symbol:
    </b> @ViewBag.Symbol

    <br />

    <b>
        Company:
    </b>
    @ViewBag.CompanyName

    <br />

    <b>
        Price:
    </b>
    $@ViewBag.Price

    <br />

    <b>
        Market Cap:
    </b>
    $@ViewBag.MarketCap

</div>


}