<div class="justify-content-center">
    <div id="div" class="">
        <div class="">
            <div id="chart" style="width:750px;height:450px;">
                <div id="candlestick" style="height:100%"></div>
            </div>
            <div style="width: 750px;height:350px;">
                <div id="filter" style="height:15%;></div>
            </div>
        </div>
    </div>
</div>
