<div>
    <div id="div" class="row">
        <div class="col-md-9">
            <div id="chart" style="width:750px;height:450px;overflow:hidden;padding:10px">
                <div id="candlestick" style="height:85%"></div>
            </div>
            <div style="width: 750px">
                <div id="filter" style="height:15%;></div>
            </div>
        </div>
    </div>
</div>
