@if (@ViewBag.Symbol != null)
{

    <div class="container-fluid">
        <strong>
            Symbol:
        </strong> @ViewBag.Symbol

        <br />

        <strong>
            Company:
        </strong>
        @ViewBag.CompanyName

        <br />

        <strong>
            Price:
        </strong>
        $@ViewBag.Price

        <br />

        <strong>
            Market Cap:
        </strong>
        $@ViewBag.MarketCap

    </div>

}