@if (@ViewBag.Symbol != null)
{

    <div class="container-fluid">
        <strong>
            Symbol:
        </strong> @ViewBag.Symbol

        <br />

        <strong>
            Company:
        </strong>
        @ViewBag.CompanyName

        <br />

        <strong>
            Price:
        </strong>
        $@ViewBag.Price

        <br />

        <strong>
            Market Cap:
        </strong>
        $@ViewBag.MarketCap

    </div>

    <div>
        <div id="div" class="row" style="padding:20px;">
            <div class="col-md-9">
                <div id="chart" style="width:650px;height:400px;overflow:hidden;padding:10px">
                    <div id="candlestick" style="height:55%"></div>
                    <div id="filter" style="height:15%;margin-top:1%"></div>
                </div>
            </div>
        </div>
    </div>


}