@if (@ViewBag.Symbol != null)
{

<div>
    <b>
        Symbol:
    </b> @ViewBag.Symbol

    <br />

    <b>
        Company:
    </b>
    @ViewBag.CompanyName

    <br />

    <b>
        Price:
    </b>
    $@ViewBag.Price

    <br />

    <b>
        Market Cap:
    </b>
    $@ViewBag.MarketCap

       <div>
       <div id="div" class="row" style="padding:20px;">
           <div class="col-md-9">
               <div id="chart" style="width:1000px;height:700px;overflow:hidden;padding:10px">
                   <div id="candlestick" style="height:55%"></div>
                   <div id="filter" style="height:15%;margin-top:1%"></div>
               </div>
           </div>
       </div>
   </div>

</div>


}