<div class="text-center mt-5">
    <div id="charts" class="container displaystock" style="width:75%;height:700px;overflow:hidden;padding:10px">
        <div id="candlestick" style="height:55%"></div>
        <div id="filter" style="height:15%;margin-top:1%"></div>
    </div>
</div>


