@model MidasTouch.Mvc.Models.StockQuote
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Market Summary</h1>

<div class="container-fluid bd-highlight mb-3">
    <div class="d-flex bd-highlight mb-3">

        <form asp-action="Stock" asp-controller="Stock" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group form-inline" style="margin-top:5px;font-size:25px;">
                <label class="col-sm-5 control-label" for="ticker">Ticker:</label>
                <div class="col-sm-7 pl-0">
                    <input asp-for="Symbol" name="symbol" class="form-control input-sm"
                           style="height:35px;width:100%" placeholder="SPY" required/>
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="sub" class="btn btn-primary">
                    Search
                </button>

                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#tradeModal">
                    Trade
                </button>

            </div>
        </form>
    </div>
    <div>@ViewData["message"]</div>

    <partial name="_TradeStock" />
    <div class="p-2 bd-highlight container-fluid"><partial name="_DisplayQuote" /> </div>
</div>


@section scripts{
    

    <script>
        createStockChart();

        document.querySelector('#sub').addEventListener('click', (function () {
            createStockChart();
        }));

        function createStockChart() {
            google.charts.load('current', { 'packages': ['corechart', 'controls'] });
            google.charts.setOnLoadCallback(drawChart);
            var chart_div = document.getElementById('chart');
            var ticker = String(document.getElementById('Symbol').value).toUpperCase();

            var viewStartDate = new Date('@DateTime.Today');
            viewStartDate.setYear(viewStartDate.getFullYear() - 1);
            var viewEndDate = new Date('@DateTime.Today');
            var startDate = viewStartDate.toISOString().split('T')[0];
            var endDate = viewEndDate.toISOString().split('T')[0];

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', 'Open');
                data.addColumn('number', 'High');
                data.addColumn('number', 'Low');
                data.addColumn('number', 'Close');
                data.addColumn('number', 'Volume');

                $.ajax({
                    url: '/api/apiStockData/' + ticker + '/' + startDate + '/' + endDate + '/daily',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (d) {
                    d.forEach(function (di) {
                        data.addRow([{ v: new Date(di.date), f: di.date }, di.open,
                        di.high, di.low, di.close, di.volume]);
                    });

                    var dashboard = new google.visualization.Dashboard(chart_div);
                    var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'filter',
                        options: {
                            filterColumnIndex: 0,
                            ui: {
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: {
                                        height: '80%', width: '85%', left: 100,
                                        backgroundColor: { stroke: "gray", strokeWidth: 1 }
                                    },
                                    hAxis: { baselineColor: 'none' }
                                },
                                chartView: { columns: [0, 4] },
                            }
                        },
                        state: {
                            range: {
                                start: viewStartDate,
                                end: viewEndDate
                            }
                        }
                    });

                    var chart = new google.visualization.ChartWrapper({
                        chartType: 'CandlestickChart',
                        containerId: 'candlestick',
                        options: {
                            chartArea: {
                                height: '80%', width: '85%', left: 100,
                                backgroundColor: { stroke: "gray", strokeWidth: 1 }
                            },
                            hAxis: {
                                type: 'category', slantedText: false, maxTextLines: 1,
                                maxAlternation: 1
                            },
                            legend: { position: 'none' },
                            candlestick: {
                                fallingColor: { strokeWidth: 0, fill: '#a52714' },
                                risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                            },
                            title: 'Stock Price: ' + ticker,
                        },
                        view: { columns: [0, 3, 1, 4, 2] }
                    });

                    dashboard.bind(control, chart);
                    dashboard.draw(data);

                    })
            }
        };

    </script>
}