@model MidasTouch.Mvc.Models.StockInfoModel
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Market Summary</h1>

<div class="d-flex bd-highlight mb-3">
    <div class="d-flex bd-highlight mb-3">

        <form asp-action="Create" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Symbol" class="control-label font-weight-bold"></label>
                <input asp-for="Symbol" class="form-control" placeholder="spy" name="symbol" />
                <span asp-validation-for="Symbol" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Search" id="sub" class="btn btn-primary" />
            </div>
        </form>
    </div>

    <div class="p-2 bd-highlight"><partial name="_DisplayQuote" /> </div>
</div>


@section scripts{
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

    <script>
        createStockChart();

        document.querySelector('#sub').addEventListener('click', (function () {
            createStockChart();
        }));

        function createStockChart() {
            google.charts.load('current', { 'packages': ['corechart', 'controls'] });
            google.charts.setOnLoadCallback(drawChart);
            var chart_div = document.getElementById('chart');
            var ticker = document.getElementById('Symbol').value;

            var viewStartDate = new Date('@DateTime.Today');
            viewStartDate.setYear(viewStartDate.getFullYear() - 1);
            var viewEndDate = new Date('@DateTime.Today');
            var startDate = viewStartDate.getFullYear() + '-0' + viewStartDate.getMonth() + '-0' + viewStartDate.getDate();
            var endDate = viewEndDate.getFullYear() + '-0' + viewEndDate.getMonth() + '-0' + viewEndDate.getDate();

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', 'Open');
                data.addColumn('number', 'High');
                data.addColumn('number', 'Low');
                data.addColumn('number', 'Close');
                data.addColumn('number', 'Volume');

                $.ajax({
                    url: '/api/apiStockData/' + ticker + '/' + startDate + '/' + endDate + '/daily',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (d) {
                    d.forEach(function (di) {
                        data.addRow([{ v: new Date(di.date), f: di.date }, di.open,
                        di.high, di.low, di.close, di.volume]);
                    });

                    var dashboard = new google.visualization.Dashboard(chart_div);
                    var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'filter',
                        options: {
                            filterColumnIndex: 0,
                            ui: {
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: {
                                        height: '80%', width: '85%', left: 100,
                                        backgroundColor: { stroke: "gray", strokeWidth: 1 }
                                    },
                                    hAxis: { baselineColor: 'none' }
                                },
                                chartView: { columns: [0, 4] },
                            }
                        },
                        state: {
                            range: {
                                start: viewStartDate,
                                end: viewEndDate
                            }
                        }
                    });

                    var chart = new google.visualization.ChartWrapper({
                        chartType: 'CandlestickChart',
                        containerId: 'candlestick',
                        options: {
                            chartArea: {
                                height: '80%', width: '85%', left: 100,
                                backgroundColor: { stroke: "gray", strokeWidth: 1 }
                            },
                            hAxis: {
                                type: 'category', slantedText: false, maxTextLines: 1,
                                maxAlternation: 1
                            },
                            legend: { position: 'none' },
                            candlestick: {
                                fallingColor: { strokeWidth: 0, fill: '#a52714' },
                                risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                            },
                            title: 'Stock Price: ' + ticker,
                        },
                        view: { columns: [0, 3, 1, 4, 2] }
                    });

                    dashboard.bind(control, chart);
                    dashboard.draw(data);

                    })
            }
        };

    </script>
    }