@model MidasTouch.Mvc.Models.StockQuote
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Market Summary</h1>

<div class="d-flex bd-highlight mb-3">
    <div class="d-flex bd-highlight mb-3">

        <form asp-action="Stock" asp-controller="Stock" class="">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="row form-group form-inline" style="margin-top:5px;font-size:25px;">
                <label class="col-sm-5 control-label" for="ticker">Ticker:</label>
                <div class="col-sm-7 pl-0">
                    <input asp-for="Symbol" name="symbol" id="ticker" class="form-control input-sm"
                           style="height:35px;width:100%" placeholder="SPY" />
                </div>
            </div>

            <div class="form-group">
                <button type="submit" id="btnCreateChart" class="btn btn-primary">
                    Search
                </button>

                <button type="button" class="btn btn-success" data-toggle="modal" data-target="#tradeModal">
                    Trade
                </button>

            </div>
        </form>
    </div>

    <partial name="_TradeStock" />
    <div class="p-2 bd-highlight container-fluid"><partial name="_DisplayQuote" /> </div>
</div>


@section scripts{
    <script src="~/js/Charts.js"></script>
}