@model MidasTouch.Mvc.Models.StockQuote
@{
    ViewData["Title"] = "Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center bg-info text-light pagelabel mb-4">Market Summary</h1>

<div class="container-fluid bd-highlight mb-3 justify-content-center">
    <div class="row mb-3">
        <div class="col-3">
            <form asp-action="Stock" asp-controller="Stock" class="text-center shadow mb-3 ml-3 mt-3">

                <div class="form-group">


                    <label class="" for="ticker">Ticker:</label>

                    @Html.TextBoxFor(m => m.Symbol, new { required = "required", @class = "form-control text-center", @placeholder = "SPY" })

                </div>

                <div class="form-group mb-5">

                    <button type="submit" id="sub" class="btn btn-primary mb-3">
                        Search
                    </button>

                    <button type="button" class="btn btn-success mb-3" data-toggle="modal" data-target="#tradeModal">
                        Trade
                    </button>

                </div>
            </form>
        </div>

        <partial name="_TradeStock" />

    </div>

    <div class="row">
        <div class="shadow">
            <div class="bd-highlight container-fluid"><partial name="_DisplayQuote" /> </div>


        </div>
    </div>
    <div class="row">
        <partial name="_DisplayChart" />
    </div>
</div>


@section scripts{


    <script>
        createStockChart();

        document.querySelector('#sub').addEventListener('click', (function () {
            createStockChart();
        }));

        function createStockChart() {
            google.charts.load('current', { 'packages': ['corechart', 'controls'] });
            google.charts.setOnLoadCallback(drawChart);
            var chart_div = document.getElementById('chart');
            var ticker = String(document.getElementById('Symbol').value).toUpperCase();

            var viewStartDate = new Date('@DateTime.Today');
            viewStartDate.setMonth(viewStartDate.getMonth() - 3);
            var viewEndDate = new Date('@DateTime.Today');
            var startDate = viewStartDate.toISOString().split('T')[0];
            var endDate = viewEndDate.toISOString().split('T')[0];

            function drawChart() {
                var data = new google.visualization.DataTable();
                data.addColumn('datetime', 'Date');
                data.addColumn('number', 'Open');
                data.addColumn('number', 'High');
                data.addColumn('number', 'Low');
                data.addColumn('number', 'Close');
                data.addColumn('number', 'Volume');

                $.ajax({
                    url: '/api/apiStockData/' + ticker + '/' + startDate + '/' + endDate + '/daily',
                    method: 'GET',
                    dataType: 'json'
                }).done(function (d) {
                    d.forEach(function (di) {
                        data.addRow([{ v: new Date(di.date), f: di.date }, di.open,
                        di.high, di.low, di.close, di.volume]);
                    });

                    var dashboard = new google.visualization.Dashboard(chart_div);
                    var control = new google.visualization.ControlWrapper({
                        controlType: 'ChartRangeFilter',
                        containerId: 'filter',
                        options: {
                            filterColumnIndex: 0,
                            ui: {
                                chartType: 'LineChart',
                                chartOptions: {
                                    chartArea: {
                                        height: '80%', width: '85%', left: 100,
                                        backgroundColor: { stroke: "gray", strokeWidth: 1 }
                                    },
                                    hAxis: { baselineColor: 'none' }
                                },
                                chartView: { columns: [0, 4] },
                            }
                        },
                        state: {
                            range: {
                                start: viewStartDate,
                                end: viewEndDate
                            }
                        }
                    });

                    var chart = new google.visualization.ChartWrapper({
                        chartType: 'CandlestickChart',
                        containerId: 'candlestick',
                        options: {
                            chartArea: {
                                height: '80%', width: '85%', left: 100,
                                backgroundColor: { stroke: "gray", strokeWidth: 1 }
                            },
                            hAxis: {
                                type: 'category', slantedText: false, maxTextLines: 1,
                                maxAlternation: 1
                            },
                            legend: { position: 'none' },
                            candlestick: {
                                fallingColor: { strokeWidth: 0, fill: '#a52714' },
                                risingColor: { strokeWidth: 0, fill: '#0f9d58' }
                            },
                            title: 'Stock Price: ' + ticker,
                        },
                        view: { columns: [0, 3, 1, 4, 2] }
                    });

                    dashboard.bind(control, chart);
                    dashboard.draw(data);

                    })
            }
        };

    </script>
}