
@{
    ViewData["Title"] = "Stock Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-light bg-warning pagelabel">Stock Chart</h1>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <div class="row form-group form-inline">
                <label class="col-sm-5 control-label pr-0" for="ticker">Ticker:</label>
                <div class="col-sm-7 pl-0">
                    <input id="ticker" type="text" class="form-control"
                           placeholder="SPY" />
                </div>
            </div>
            <div class="row form-group form-inline">
                <label class="col-sm-5 control-label" for="startDate">Start Date:</label>
                <div class="col-sm-7 pl-0">
                    <input id="startDate" type="text" class="form-control"
                           placeholder="YYYY-MM-DD" />
                </div>
            </div>
            <div class="row form-group form-inline">
                <label class="col-sm-5 control-label" for="endDate">End Date:</label>
                <div class="col-sm-7 pl-0">
                    <input id="endDate" type="text" class="form-control"
                           placeholder="YYYY-MM-DD" />
                </div>
            </div>




            <div>
                <button id="btnCreateChart" class="btn btn-success">Create Chart</button>
            </div>
        </div>
    </div>

    <div class="col-md-9">
        <div id="chart" style="width:100%;height:700px;overflow:hidden;padding:10px">
            <div id="candlestick" style="height:55%"></div>
            <div id="volume" style="height:30%;margin-top:-1%"></div>
            <div id="filter" style="height:15%;margin-top:1%"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Charts.js"></script>
}
