
@{
    ViewData["Title"] = "Stock Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-center text-light bg-warning pagelabel">Stock Chart</h1>

<div class="text-center mt-5">

    <div class="container col-3 border rounded displaystock shadow-lg">

        <div class="form-group">
            <label for="ticker">Ticker:</label>

            <input id="ticker" type="text" class="form-control text-center"
                   placeholder="SPY" />
        </div>

        <div class="form-group">
            <label class="" for="startDate">Start Date:</label>

            <input id="startDate" type="text" class="form-control text-center"
                   placeholder="YYYY-MM-DD" />
        </div>


        <div class="form-group">
            <label class="" for="endDate">End Date:</label>

            <input id="endDate" type="text" class="form-control text-center"
                   placeholder="YYYY-MM-DD" />
        </div>



        <div class="text-center mb-2">
            <button id="btnCreateChart" class="btn btn-success">Create Chart</button>
        </div>
    </div>


    <div class="text-center mt-5">
        <div id="charts" class="container displaystock" style="width:75%;height:700px;overflow:hidden;padding:10px">
            <div id="candlestick" style="height:55%"></div>
            <div id="volume" style="height:30%;margin-top:-1%"></div>
            <div id="filter" style="height:15%;margin-top:1%"></div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/js/Charts.js"></script>
}
